DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""
ALLOW_PUBLIC_REGISTRATION="false"
ALLOWED_REGISTRATION_DOMAINS="gmail.com"
AUTO_APPROVE_USERS="true"
SESSION_SECRET="capi-local-dev-session-secret"
